body{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    background-color: rgb(43, 41, 41);
}
.contenido{
    margin-bottom: 50px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-color: rgb(83, 79, 79);
    padding: 20px;
    width:25%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}
.contenido input[type="button"]{
    display: inline-block;
    max-width: 200px;
    font-size: 20px;
    background-color: white;
    margin-right: 30px;
  }
.contenido input[type="number"]{
    max-width: 100px;
    font-size: 20px;
    color: white;
    background-color: rgb(43, 41, 41);
}